<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Spring Boot Rest API with ajax</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1AnmJQOgpJLlm9AooyIz1tqQTwFspd3yD65VohpuuCMJzCAsjC"
          crossorigin="anonymous">
</head>
<body>
<div class="container" style="min-height: 500px">
    <div class="starter-template">
        <h1>Spring Boot REST API with AJAX Example</h1>
        <img id="images" src="#" alt="" width="100px">
        <div id="profile"></div>
        <button id="Logout">Logout</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFyZvlZBNTMi9T5AzWfN5sGF9aG1l9Y1TxIYFtwSXnUQUEnRlNfALqOw+j"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="/js/mainjs.js"></script>
</body>
</html>